<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>Welcome to the Blog</h1>

    <h2>Users</h2>
    <a href="/new-user">Create New User</a>
    <ul>
      <% users.forEach(user => { %>
      <li>
        <%= user.name %>
        <a href="/edit-user/<%= user.id %>">Edit</a>
        <form
          action="/api/users/<%= user.id %>?_method=DELETE"
          method="POST"
          style="display: inline"
        >
          <button type="submit">Delete</button>
        </form>
      </li>
      <% }) %>
    </ul>

    <h2>Posts</h2>
    <a href="/new-post">Create New Post</a>
    <ul>
      <% posts.forEach(post => { %>
      <li>
        <%= post.title %>
        <a href="/api/posts/<%= post.id %>/edit">Edit</a>
        <form
          action="/api/posts/<%= post.id %>?_method=DELETE"
          method="POST"
          style="display: inline"
        >
          <button type="submit">Delete</button>
        </form>
      </li>
      <% }) %>
    </ul>

    <h2>Comments</h2>
    <ul>
      <% comments.forEach(comment => { %>
      <li><%= comment.text %> - <strong><%= comment.userId %></strong></li>
      <% }) %>
    </ul>
  </body>
</html>
