<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profiles</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>All User Profiles</h1>
      <a id="newPostBtn" href="/new-user">New User</a>
      <ul id="postsList">
        <% users.forEach(user => { %>
        <li>
          <h2><%= user.name %></h2>
          <small>User ID: <%= user.id %></small>
          <small>Email: <%= user.email %></small>
          <a class="post" href="/new-post/<%= user.id %>">Send new post</a>
          <form
            action="/api/users/<%= user.id %>"
            method="POST"
            style="display: inline"
          >
            <input type="hidden" name="_method" value="DELETE" />
            <button type="submit">Delete</button>
          </form>
        </li>
        <% }); %>
      </ul>
    </div>
  </body>
</html>
